---
import Button from "../components/Button.astro";
const { data } = Astro.props;
---

<article>
  <p>{data.title}</p>
  <p>{data.description}</p>
  <p>{data.price}</p>
  <Button text="Vælg plan" href="/src/pages/content/placeholder.astro" />

  <button></button>
</article>

<style>
  article {
    border: 2px solid black;
    padding: 2.5rem;
    text-align: center;
    font-size: larger;
  }

  .tag {
    display: inline-block;
    padding-inline: 50px;
    padding-block: 10px;
    background-color: #3f1416;
    color: white;
    border-radius: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .subtitle {
    font-weight: bold;
  }
</style>
<script></script>
