---
import Button from "../components/Button.astro";
const { data } = Astro.props;
---

<article>
  <p>{data.title}</p>
  <p>{data.description}</p>
  <p>{data.price}</p>
  <Button text="VÆLG PLAN" href="/content/placeholder" />

  <button></button>
</article>

<style>
  article {
    border: 2px solid black;
    padding: 2.5rem;
    text-align: center;
    font-size: larger;
  }

  .subtitle {
    font-weight: bold;
  }
</style>
<script></script>
