<footer>
      <section class=grid_footer>
        <div class="center">
          <h2>Nyhedsbrev</h2>
          <p>Tilmeld dig vores nyhedsbrev og få det seneste nyt fra os som den første!</p>
            <img src="/public/imgs/brev.webp" alt="Email" />
          <a href="">Tilmeld dig her</a>
    
        </div>
        <div class="center">
          <h2>Om os</h2>
          <a href="">Kontakt os her</a>
          <a href="">Vilkår og abonnement</a>
          <a href="">Privatlivspolitik</a>
          <div>
            <a href=""><img src="/public/imgs/Facebook.svg" alt="Facebook" /></a>
            <a href=""><img src="/public/imgs/Instagram.svg" alt="Instagram" /></a>
            <a href=""><img src="/public/imgs/Linkedin.svg" alt="LinkedIn" /></a>
          </div>
        </div>
      </section>
      <section class="center">
        <p>© 2025 SoundWheel. Alle rettigheder forbeholdes.</p>
        <img src="/public/imgs/logo2.svg" alt="Soundwheel logo" />
      </section>
    </footer>


    <style>

            .center {
            text-align: center;
        }


        footer img {
            width: 50px; 
        }

         @media (min-width: 800px) {

        .grid_footer {
            display: grid;
            grid-template-columns: 1fr 1fr;

        }

    

    }

    </style>