


<footer>
      <section class="grid_1_1fr">
        <div>
          <h2>Nyhedsbrev</h2>
          <p>Tilmeld dig vores nyhedsbrev<br />og få det seneste nyt fra os som den første!</p>

          <div class="email_input">
            <img src="/public/imgs/brev.webp" alt="Email" />
          </div>

          <a href="knap" class="footer_btn">Tilmeld dig</a>
        </div>
        <div>
          <h2>Om os</h2>
          <a href="">Kontakt os her</a>
          <a href="">Vilkår og abonnement</a>
          <a href="">Privatlivspolitik</a>
          <div class="footer_socials">
            <a href=""><img src="/public/imgs/Facebook.svg" alt="Facebook" /></a>
            <a href=""><img src="/public/imgs/Instagram.svg" alt="Instagram" /></a>
            <a href=""><img src="/public/imgs/Linkedin.svg" alt="LinkedIn" /></a>
          </div>
        </div>
      </section>
      <section>
        <p>© 2025 SoundWheel. Alle rettigheder forbeholdes.</p>
        <img src="/public/imgs/logo2.svg" alt="Soundwheel logo" />
      </section>
    </footer>