---
import PageLayout from "../../layout/PageLayout.astro";
---

<PageLayout title="Placeholder side">
    <header>
        <h1> 
            Dette er en placeholder side, der illustrerer, at vi kan lave links der tilgår en underside.
        </h1>      
    </header>
</PageLayout>